<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kedi.older.opus.mapper.OpusMapper">


    <insert id="insertopus" parameterType="Map" keyColumn="opus_id" >
   INSERT INTO opus(p_user_id,name,price,weight,uploadUser,status,uploadDate)
   VALUES(#{puserid},${name},#{price},#{weight},#{uploadUser},1,CURTIME()); select @@identity;
    </insert>

</mapper>